<% provide(:title, '') %>
<div class="center hero-unit">
  <h1>Welcome to my personal Home Page</h1>
    <h2>
      This is the home page of Ricardo Taboada
      </h2>
 </div>


    <div class="container-fluid">
      <div class="row-fluid">
       <div class="span2">
            <ul>
                <li class="active"><a href=<% root_path %>><button class="btn btn-mini btn-primary" id="nav_button" type="button"><i class="icon-home icon-white"></i> Home</button></a></li>
    		<li><a href=curriculum><button class="btn btn-mini" id="nav_button" type="button"><i class="icon-book"></i> Curriculum</button></a></li>
    		<li><a href=projects><button class="btn btn-mini" id="nav_button" type="button"><i class="icon-pencil"></i> Projects</button></a></li>
    		<li><a href=contacts><button class="btn btn-mini" id="nav_button" type="button"><i class="icon-envelope"></i> Contacts</button></a></li>
    	    </ul>
       </div>
       <div class="span10">
         <p id="home_text">Nesta secção é suposto haver um tipo de blog, heheh !</p>
      </div>
     </div>
   </div>
   
 
 <div class="row features">
   <h3>Technology used to put this project up.</h3>
    <div class="span6">
      <%= link_to image_tag("ruby.png", alt: "Ruby"), 'http://ruby-lang.org/' %>
         <h4>Ruby</h4>
         <p>Ruby is the main programming language behind the framework used to build this website.</p>
         <%= link_to "Learn more", 'about', class: "btn disabled", id: "button_lm" %>
     </div>

    <div class="span6">
      <%= link_to image_tag("rails.png", alt: "ISPGaya"), 'http://rubyonrails.org//' %>
           <h4>Rails</h4>
           <p>Ruby on Rails or simply 'Rails' is a framework for database driven web development writed in Ruby language</p>
           <%= link_to "Learn more", 'about', class: "btn disabled", id: "button_lm" %>
    </div>

    <div class="span6">
       <%= link_to image_tag("htmlcss.png", alt: "ISPGaya"), 'http://www.ispgaya.pt/' %>
           <h4>Other technologys</h4>
           <p>Among other technologys used to build and run this project are HTML5, CSS, Bootstrap, RSpec...</p> 
           <%= link_to "Learn more", 'about', class: "btn disabled", id: "button_lm" %>
    </div>
 </div>


  





