<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "ricardo taboada", root_path , id: "logo" %>
        <nav>
          <ul class="nav pull-right">
		<%# is_active? is a helper method defined in static pages helper and tests for the current active page%>
            <li class="<%= is_active?("home")%>"><%= link_to "Home", root_path, :class => is_active?("Home") %></li>
            <li class="<%= is_active?("curriculum")%>"><%= link_to "Curriculum", curriculum_path %></li>
	    <li class="<%= is_active?("projects")%>"><%= link_to "Projects", projects_path %></li>
	    <li id="navbar_separator"></li>
            <li><%= link_to "Sign in",  '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

