<div class="row features" id="home-technologies">
   <h3>Technology used to put this project up.</h3>
    <div class="span6">
      <%= link_to image_tag("ruby.png", alt: "Ruby"), 'http://ruby-lang.org/' %>
         <h4>Ruby</h4>
         <p>Ruby is the main programming language behind the framework used to build this website.</p>
         <%= link_to "Learn more", 'about', class: "btn disabled", id: "button_lm" %>
     </div>

    <div class="span6">
      <%= link_to image_tag("rails.png", alt: "ISPGaya"), 'http://rubyonrails.org//' %>
           <h4>Rails</h4>
           <p>Ruby on Rails or simply 'Rails' is a framework for database driven web development writed in Ruby language</p>
           <%= link_to "Learn more", 'about', class: "btn disabled", id: "button_lm" %>
    </div>

    <div class="span6">
       <%= link_to image_tag("htmlcss.png", alt: "ISPGaya"), 'http://www.ispgaya.pt/' %>
           <h4>Other technologys</h4>
           <p>Among other technologys used to build and run this project are HTML5, CSS, Bootstrap, RSpec...</p>
           <%= link_to "Learn more", 'about', class: "btn disabled", id: "button_lm" %>
    </div>
 </div>

