<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<%# If this is the home page then the hero unit is out of the container so it can have full width %> 
<% if is_active?("home") == 'active' %>
     <div class="hero-unit" id ="hu-home">
         <div class="container">
            <%= render 'layouts/hero-home' %>
         </div>
     </div>
 <% end %>
  <!--<%= yield %>-->                                          <!--Page body's go here with "yield", comented this in container so it can have full width-->
  <div class="container">
    <%= yield %>                                                <!-- Page body's go here with "yield"-->
  <!-- <%= render 'layouts/footer' %>-->
    <%#= debug(params) if Rails.env.development? %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>

